@inherits LayoutComponentBase

<div class="page">
 @*   <div class="sidebar">
        <NavMenu />
    </div>*@

    <main>
    @*    <div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>*@
        
       <div class="text-white text-xl py-4 text-center bg-rose-800 font-semibold">
	Týno hra
</div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
